$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


body {
  padding-top: 50px;
}

@media only screen and (max-width : 768px) {
  body {
    padding-top: 200px;
  }
}


.content {
  padding: 40px 15px;
}

.register-form {
  margin-top: 10rem;
}

// can add Boostrap overrides, additional Sass/CSS below...
