$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
  padding-top: 50px;
}

@media only screen and (max-width : 768px) {
  body {
    padding-top: 200px;
  }
}

.phrase {
  background: #fff;
  margin: .2rem;
  padding: .3rem;
  border-radius: .2rem;
}

.phrases {
  margin: 1rem;
}

.content {
  padding: 40px 15px;
}

.register-form {
  margin-top: 10rem;
}

// can add Boostrap overrides, additional Sass/CSS below...
